<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luo.infrastructure.dao.IRaffleActivityAccountDayDAO">
    <insert id="insertRaffleActivityAccountDay">
        insert into raffle_activity_account_day(user_id,activity_id,day,day_count,day_count_surplus,create_time,update_time)
        values(#{userId},#{activityId},#{day},#{dayCount},#{dayCountSurplus},now(),now())
    </insert>
    <update id="addAccountQuota">
        update raffle_activity_account_day
        set day_count_surplus = day_count_surplus + #{dayCountSurplus},day_count = day_count + #{dayCount}, update_time = now()
        where user_id = #{userId} and activity_id = #{activityId} and day = #{day}
    </update>
    <update id="updateRaffleActivityAccountDay">
        update raffle_activity_account_day
        set day_count_surplus = day_count_surplus - 1, update_time = now()
        where user_id = #{userId} and activity_id = #{activityId} and day = #{day} and  day_count_surplus > 0
    </update>

    <select id="queryRaffleActivityAccountDayByUserId"
            resultType="com.luo.infrastructure.pojo.RaffleActivityAccountDay">
        select user_id,activity_id,day,day_count,day_count_surplus,create_time,update_time from raffle_activity_account_day
        where user_id = #{userId} and activity_id = #{activityId} and day = #{day}
    </select>
    <select id="queryRaffleActivityAccountDayCount" resultType="java.lang.Integer">
        select day_count - day_count_surplus
        from raffle_activity_account_day
        where user_id = #{userId} and activity_id = #{activityId} and day = #{day}
    </select>
</mapper>