<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luo.infrastructure.dao.IRaffleActivityDAO">

    <select id="queryRaffleActivityEntityByActivityId" resultType="com.luo.infrastructure.pojo.RaffleActivity">
        select id, activity_id, activity_name, activity_desc, begin_date_time, end_date_time, strategy_id, state from
        raffle_activity where activity_id = #{activityId}
    </select>
    <select id="queryStrategyIdByActivityId" resultType="java.lang.Long">
        select strategy_id from raffle_activity where activity_id = #{activityId}
    </select>
</mapper>