<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luo.infrastructure.dao.IRuleTreeNodeLineDAO">

    <select id="queryRuleTreeNodeLineVOByTreeId" resultType="com.luo.infrastructure.pojo.RuleTreeNodeLine">
        select
        tree_id
        rule_node_from,
        rule_node_to,
        rule_limit_type,
        rule_limit_value from rule_tree_node_line
        where tree_id = #{treeId}
    </select>
</mapper>