<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luo.infrastructure.dao.IRuleTreeNodeDAO">

    <select id="queryRuleTreeNodeVOByTreeId" resultType="com.luo.infrastructure.pojo.RuleTreeNode">
        select tree_id,rule_key,rule_desc,rule_value,create_time,update_time
        from rule_tree_node where tree_id = #{treeId}
    </select>
</mapper>